extends ../layout/main

block title
  | Козар Володимир

block content
  .container   
    .circle
      img(src="/image/men.svg", alt="", srcset="").img-men
      img(src="/image/laptop.svg", alt="", srcset="").leptop
      .circle-to-animation
        img(src="/image/icon1.svg", alt="", srcset="").home-icon.icon1
        img(src="/image/icon2.svg", alt="", srcset="").home-icon.icon2
        img(src="/image/icon3.svg", alt="", srcset="").home-icon.icon3
        img(src="/image/icon4.svg", alt="", srcset="").home-icon.icon4