extends ../layout/main

block title
  | Козар Володимир роботи

block content
  .container
    section.my-jobs
      h1.title-jobs My jobs
      .container-carts
        .card
          .frond
            img(src="image/job-img/modus-versus.png", alt="").frond-image
          .back
            | back
        .card
          .frond
            | frond
          .back
            | back 
        .card
          .frond
            | frond
          .back
            | back
        .card
          .frond
            | frond
          .back
            | back   