extends ../layout/main

block title
  | Козар Володимир роботи

block content
  .container
    section.my-jobs
      h1.title-jobs my jobs
      .container-carts
        .card
          .frond
            figure
              img(src="image/job-img/modus-versus.png", alt="modus versus").frond-image
              figcaption
                | modus versus
          .back
            h3.back__title modus versus
            .back__technology technology:
            ul.back__list
              li html(pug)
              li css(scss)
              li gulp
              li git 
                a(href="#") link
              
              button more
            
        .card
          .frond
            figure
              img(src="image/job-img/modus-versus.png", alt="modus versus").frond-image
              figcaption
                | modus versus
          .back
            h3.back__title modus versus
            .back__technology technology:
            ul.back__list
              li html(pug)
              li css(scss)
              li gulp
              li git 
                a(href="#") link
              
              button more

        .card
          .frond
            figure
              img(src="image/job-img/modus-versus.png", alt="modus versus").frond-image
              figcaption
                | modus versus
          .back
            h3.back__title modus versus
            .back__technology technology:
            ul.back__list
              li html(pug)
              li css(scss)
              li gulp
              li git 
                a(href="#") link
              
              button more

        .card
          .frond
            figure
              img(src="image/job-img/modus-versus.png", alt="modus versus").frond-image
              figcaption
                | modus versus
          .back
            h3.back__title modus versus
            .back__technology technology:
            ul.back__list
              li html(pug)
              li css(scss)
              li gulp
              li git 
                a(href="#") link
              
              button more 