header.header
  .container
    nav.nav
      .nav__left
        a(href="#").nav__botton home
        a(href="#").nav__botton jobs
      .nav__center
        img(src="image/logo.svg", alt="Logo portfolio Vova Kozar").logo-top
      .nav__right
        a(href="#").nav__botton skills
        a(href="#").nav__botton contact