* {
  box-sizing: border-box;
}

html{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gabriela', serif;
}

.wrapper {
  min-height: 100vh
}

.container {
  width: 1152px;
  margin: auto;
  padding: 0 $gutter;
}