.header {
  //height: 100vh;
  //background: $middle;
}
.logo-top {
  height: 100px;
}
.nav {
  width: 100%;
  //background: $light;  
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  text-transform: uppercase;
  padding: $gutter 0;
  border-bottom: 5px solid rgba($color: $dark, $alpha: 0.6);
  border-radius: 128px 0 128px 0px;
}
.nav a {
  color: $dark;
  text-decoration: none;  
}
.nav a:link { }
.nav a:visited {  }
.nav a:hover {  }
.nav a:active {  }

.nav__left {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.nav__center {
  width: 20%;
}
.nav__right {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
