doctype html
html(lang="ua-UA")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    //link(rel="stylesheet" type='text/css' href="style/fonts/fonts.css")
    link(rel="stylesheet" type='text/css' href="style/main.css")

    title
      block title
  body
    .wrapper.sky-gradient-07
      include ../modules/header
      block content
    include ../modules/footer
    //script(src="static/js/jquery.js")
    //script(src="static/js/libs.min.js")
    script(src="js/main.js")